a:link {
    color:#ffffff;
    text-decoration:none;
  }
  a:visited {
    color:#ffffff;
    text-decoration:none;
  }
  a:hover {
    color:#ffffff;
    text-decoration:none;
  }
  a:active {
    color:#ffffff;
    text-decoration:none;
  }
.videoGroup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.video{
    float: left;
    color: black;
    padding: 3px;
    margin: 10px;
    border:none;
    overflow: hidden;
    box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 0 4px rgb(27, 1, 1);
}
.video:hover{
    box-shadow: inset 0 0 3px rgb(0, 0, 0), 0 0 20px rgb(27, 1, 1);
}

.videoContent{
    overflow: hidden;
    position: relative;
    height: 100px;
    background: rgba(0,0,0, 0.6);
    color: white;
    padding: 0;
}
.videoContent:hover{
    background: rgba(0, 0, 0, 0.7);
}

.card-title{
    font-size: 1em;
    text-align: center;
    padding: 0;
    text-decoration: none;
}
.card-text{
    margin: 0;
    text-align: left;
    font-size: 0.8em;
}

/*fim css da listagem de vídeo*/

footer{
    width: 100%;
    background-color: rgb(28, 0, 18);
    height: 50px;
    color: white;
    text-align: center;
}


/*css da pagina Assistir*/

.videoPlay{
    display: flex;
    border: 1px solid black;

    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 10px;
}


/*Gerenciar*/
.btn-gerenciador {  
    font-size: 12px;
    padding: 5px;
    margin: 10px;
}
.btnGerencia{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}
.uploadForm{
    box-sizing: border-box;
    border: 1px solid black;
    
}